@font-face {
    font-family: 'Syne';
    src: url('/assets/fonts/Syne/Syne-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 800;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('/assets/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --color: black;
    --background-color: white;
    --border: 1px solid black;
}

body.dark {
    --color: white;
    --background-color: black;
    --border: 1px solid white;
}

body {
    font-family: 'IBMPlexSans', sans-serif;
    color: var(--color);
    background-color: var(--background-color);
    margin: 0;
}

strong {
    color: var(--background-color);
    font-weight: 700;
    background-color: var(--color);
}

h1,
h2,
h3,
a,
strong {
    font-family: 'Syne', sans-serif;
}

a {
    color: var(--color);
    background-color: var(--background-color);
    cursor: pointer;
    text-decoration: underline;
}

a.active {
    color: var(--background-color);
    background-color: var(--color);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 4rem;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

button#mode-switch {
    cursor: pointer;
    height: 22.5px;
    width: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    color: var(--background-color);
    border: none;
}

nav#case-studies-nav {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
    padding: 0 4rem;
    background-color: var(--background-color);
    border-top: var(--border);
    border-bottom: var(--border);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: end;
    padding: 0 4rem;
}

main {
    max-width: 50rem;
    margin: 0 auto;
    padding: 12rem 0;
}

h1 {
    display: block;
    font-size: 3rem;
    margin-block-start: 3rem;
    margin-block-end: 3rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 800;
    unicode-bidi: isolate;
    text-transform: uppercase;
    line-height: 0.8;
}

h2 {
    display: block;
    font-size: 1.5rem;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
    unicode-bidi: isolate;
    line-height: 1.3;
}

h3,
header>nav>a {
    display: block;
    font-size: 1.17rem;
    margin-block-start: 1.17rem;
    margin-block-end: 1.17rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
    unicode-bidi: isolate;
}

p,
ul,
ol {
    display: block;
    font-size: 0.9rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    line-height: 1.6;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    padding-inline-start: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-inline-start: 0;
}

section#case-study {
    width: 50%;
}

section,
.case-study_image,
.case-study_video,
.case-study_link {
    margin-bottom: 6rem;
}

.case-study_link {
    display: flex;
    background-color: var(--background-color);
    border-top: var(--border);
    border-bottom: var(--border);
    border-right: var(--border);
}

.image-zoom,
video {
    max-width: 100%;
    box-sizing: border-box;
    border: var(--border);
    background-color: var(--background-color);
}

.image-zoom {
    cursor: zoom-in;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: zoom-out;
}

#overlay.show {
    display: flex;
}

#overlay img {
    max-width: 90%;
    max-height: 90%;
    border: var(--border);
    background-color: var(--background-color);
}