---
layout: default
---

<h1>{{ page.title }}</h1>

<section id="case-study">
  <h2>{{ page.subtitle }}</h2>
  <p><strong>task</strong>: {{ page.task }}</p>
  <p><strong>tech</strong>: {{ page.tech }}</p>
</section>

{% if page.videos %} {% for video in page.videos %}
<div class="case-study_video">
  <video controls muted autoplay loop preload="metadata">
    <source src="{{ video.src | relative_url }}" type="video/mp4" />
  </video>
  {% if video.caption %} {{ video.caption | markdownify }} {% endif %}
</div>
{% endfor %} {% endif %} {% if page.images %} {% for image in page.images %}
<div class="case-study_image">
  {% include image-zoom.html src=image.src alt=page.title %} {% if image.caption
  %} {{ image.caption | markdownify }} {% endif %}
</div>
{% endfor %} {% endif %} {% if page.link %}
<div class="case-study_link">
  <a href="{{ page.link }}" target="_blank">link to project</a>
</div>
{% endif %}
